@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Neuton", serif;
}

#home {
  background-image: url("./assets/setup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 18px;
  height: 40px;
  margin: 17px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
  transform: scale(0.94);
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

li:nth-child(1) {
  animation: fade-in 0.1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(2) {
  animation: fade-in 0.3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(3) {
  animation: fade-in 0.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(4) {
  animation: fade-in 0.7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(5) {
  animation: fade-in 0.9s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav li {
  list-style: none;
  padding: 12px 0;
  filter: blur(4px);
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, black, black);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(1px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-3px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 520px;
  transform: translate(-60%, -30%);
}

/* resume styles */

#resume {
  background-image: url("../public/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* range slider */

.slider-container {
  width: 300px;
  margin: 0 auto;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

/* Style for the slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; /* Set the width of the thumb */
  height: 15px; /* Set the height of the thumb */
  background: white; /* Set the background color of the thumb */
  cursor: not-allowed; /* Change cursor to not-allowed */
  border-radius: 50px;
}

.slider::-moz-range-thumb {
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background: #4caf50; /* Set the background color of the thumb */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

/* here start infinity logo slider styles */

@keyframes slides {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.logo_items {
  display: flex;
  align-items: center;
  animation: slides 20s linear infinite;
}

.logo_items img {
  margin-right: 20px;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 150px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}
