@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}
/* home */
#home {
  background-image: url("./assets/setup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* For a parallax effect */
  min-height: 100vh;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 18px;
  height: 40px;
  margin: 17px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
  transform: scale(0.94);
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

li:nth-child(1) {
  animation: fade-in 0.1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(2) {
  animation: fade-in 0.3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(3) {
  animation: fade-in 0.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(4) {
  animation: fade-in 0.7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

li:nth-child(5) {
  animation: fade-in 0.9s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav li {
  list-style: none;
  padding: 12px 0;
  filter: blur(4px);
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, black, black);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(1px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-3px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 520px;
  transform: translate(-60%, -30%);
}
